div {
  border: 1px solid green;
}

#container {
  width: 620px;
}

#duck-field {
  display: inline-block;
  width: 300px; height: 500px;
  overflow: hidden;
}

#my-field {
  display: inline-block;
  width: 300px; height: 500px;
  overflow: hidden;
}

.square {
  display: inline-block;
  width: 44px; height: 44px;
  cursor: pointer;
}
